### Step 0
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

In [2]:
import pandas as pd
import numpy as np

In [3]:
#%pip install xlrd

In [4]:
Energy = pd.read_excel('Energy Indicators.xls')

In [5]:
#Remove Head and Footer 
Energy = pd.read_excel('Energy Indicators.xls', header=17, skipfooter=38)

In [6]:
#check that footer is removed 
Energy.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
217,NaN,United States Virgin Islands,United States Virgin Islands,...,...,0.00000
218,NaN,Uruguay,Uruguay,196,58,71.60504
219,NaN,Uzbekistan,Uzbekistan,1798,62,21.32841
220,NaN,Vanuatu,Vanuatu,3,10,14.70588
221,NaN,Venezuela (Bolivarian Republic of),Venezuela (Bolivarian Republic of),2871,95,67.83452
222,NaN,Viet Nam,Viet Nam,2554,28,45.32152
223,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0.00000
224,NaN,Yemen,Yemen,344,13,0.00000
225,NaN,Zambia,Zambia,400,26,99.71467
226,NaN,Zimbabwe,Zimbabwe,480,32,52.53612

In [7]:
# Remove the first column 
Energy.drop('Unnamed: 0', inplace=True, axis=1)

In [8]:
#Removing Second Column 
Energy.drop('Unnamed: 1', inplace=True, axis=1)

In [9]:
#Renaming The Columns 
Mod_Energy = Energy.rename(columns={'Unnamed: 2': 'Country', 'Petajoules': 'Energy Supply', 'Gigajoules': 'Energy Supply per Capita','%': '% Renewable'})

In [10]:
#Multiply Energy Supply to be in Gigajoules
Mod_Energy['Energy Supply'] = Mod_Energy['Energy Supply'].apply(lambda x: x * 1000000)

In [11]:
#Change missing values to np.NaN
Mod_Energy.replace(to_replace = '...', value =np.NaN , inplace=True)

In [12]:
# To confirm the precense of NaN 
Mod_Energy.isnull().sum()

Country                     0
Energy Supply               0
Energy Supply per Capita    5
% Renewable                 0
dtype: int64

In [13]:
# Removing Parenthesis and Numbers from the data
Mod_Energy['Country'] = Mod_Energy['Country'].str.replace('\d+', '' , regex=True)
Mod_Energy['Country'] = Mod_Energy['Country'].str.replace(r" \(.*\)","" , regex=True)
#Testing 
# Mod_Energy.style

In [14]:
#Replace Values of some countries with new values
Mod_Energy.replace({'Country' : {'Republic of Korea': 'South Korea','United States of America': 'United States','United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
'China, Hong Kong Special Administrative Region': 'Hong Kong' }}, inplace=True)
#Testing
(Mod_Energy['Country'].eq('Hong Kong')).any()

True

In [15]:
#Checking the data after cleaning it 
Energy=Mod_Energy
display(Energy)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10.0,78.669280
1,Albania,102000000,35.0,100.000000
2,Algeria,1959000000,51.0,0.551010
3,American Samoa,.................................................,NaN,0.641026
4,Andorra,9000000,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2554000000,28.0,45.321520
223,Wallis and Futuna Islands,0,26.0,0.000000
224,Yemen,344000000,13.0,0.000000
225,Zambia,400000000,26.0,99.714670
226,Zimbabwe,480000000,32.0,52.536120

### Step 1
<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

In [16]:
#Importing the CSV file
GDP = pd.read_csv('world_bank.csv')

#Removing the header 
GDP = pd.read_csv('world_bank.csv', header=4)

In [17]:
#Changing Country Names 
GDP.replace({'Country Name' : {'Korea, Rep.': 'South Korea','Iran, Islamic Rep.': 'Iran','Hong Kong SAR, China':'Hong Kong' }}, inplace=True)

#Testing
(GDP['Country Name'].eq('Iran')).any()

True

In [18]:
display(GDP)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.469832e+09,2.677654e+09,2.843017e+09,2.553631e+09,2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129081e+10,2.180870e+10,2.370727e+10,2.821034e+10,2.611906e+10,2.968249e+10,...,5.757030e+11,6.608050e+11,7.080950e+11,7.190710e+11,8.603320e+11,9.641810e+11,9.725730e+11,9.834730e+11,1.003770e+12,9.245230e+11
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,6.971379e+09,9.715762e+09,1.024977e+10,1.215484e+10,1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,3.956560e+11,4.644260e+11,5.664790e+11,5.070300e+11,5.971290e+11,6.804560e+11,7.360400e+11,8.322170e+11,8.924980e+11,7.669580e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.238101e+10,6.526645e+10,8.853861e+10,7.030717e+10,8.169953e+10,1.094370e+11,1.249980e+11,1.334020e+11,1.372440e+11,8.721930e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.181777e+09,5.015895e+09,5.344014e+09,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.906198e+10,2.165053e+10,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.540132e+10,4.041523e+10,4.322859e+10,4.244450e+10
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.038610e+11,3.330750e+11,3.161320e+11,3.297530e+11,4.173650e+11,4.582020e+11,4.344010e+11,4.008860e+11,3.811990e+11,3.467100e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.275686e+10,1.405696e+10,1.791086e+10,1.532834e+10,2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,5.443896e+09,5.291950e+09,4.415703e+09,9.665793e+09,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10

### Step 2
Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

In [19]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')

In [20]:
display(ScimEn)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...,...
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

### Step 3
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This step should yeild a DataFrame with 20 columns and 15 entries.*

In [21]:
#Joining the data frames 
Energy_GDP_Merged = pd.merge(Energy, 
                             GDP [['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015','Country Name']], 
                             how='left', 
                             left_on='Country', 
                             right_on='Country Name')

Final=pd.merge(ScimEn,
            Energy_GDP_Merged,
              how='inner',
              on='Country')

Total_Row_Count=len(Final.index)

#Get only 15 row 
Final.drop(Final.index[15: ], inplace=True)

Final_Row_Count= len(Final.index)

#Set Country as the index
Final.set_index('Country',inplace=True)

#Remove Repeated Columns
Final.drop('Country Name', inplace=True, axis=1)

#Test
Final.head()
Final.columns

Index(['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

### Step 4
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This step should yield a single number.*

In [22]:
Lost_Entries=print(Total_Row_Count-Final_Row_Count)

158

### Step 5

#### Answer the following questions in the context of only the top 15 countries by Scimagojr Rank 


What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This step should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [23]:
avgGDP = Final[["2006", "2007", "2008","2009", "2010", "2011", "2012", "2013", "2014", "2015"]].mean(axis=1,skipna = True).sort_values(ascending=False)
print(avgGDP)

Country
United States         1.570404e+13
China                 6.927708e+12
Japan                 5.239641e+12
Germany               3.523340e+12
United Kingdom        2.780241e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988883e+12
Russian Federation    1.666747e+12
Canada                1.616360e+12
India                 1.602354e+12
Spain                 1.400886e+12
South Korea           1.221372e+12
Australia             1.207506e+12
Iran                  4.563263e+11
dtype: float64

### Step  6
What is the mean `Energy Supply per Capita`?

*This step should return a single number.*

In [24]:
mean_Energy_Supply=Final['Energy Supply per Capita'].mean()
print(mean_Energy_Supply)

157.6

### Step 7
What country has the maximum % Renewable and what is the percentage?

*This step should return a tuple with the name of the country and the percentage.*

In [25]:
Sorted=Final.groupby(['Country'])['% Renewable'].max().sort_values(ascending=False)
Result=(Sorted.index[0],Sorted.iloc[0])
print(Result)

('Brazil', 69.64803)

### Step 8
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This step should return a tuple with the name of the country and the ratio.*

In [26]:
Final['ratio']=Final['Self-citations']/Final['Citations']
display(Final)
Sorted_Ratio=Final.groupby(['Country'])['ratio'].max().sort_values(ascending=False)
Country_Ratio=(Sorted_Ratio.index[0],Sorted_Ratio.iloc[0])
print(Country_Ratio)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,ratio
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93.0,19.754910,...,3.550340e+12,4.594310e+12,5.101700e+12,6.087160e+12,7.551500e+12,8.532230e+12,9.570410e+12,1.047570e+13,1.106160e+13,0.689313
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286.0,11.570980,...,1.447420e+13,1.476990e+13,1.447810e+13,1.504900e+13,1.559970e+13,1.625400e+13,1.684320e+13,1.755070e+13,1.820600e+13,0.335031
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149.0,10.232820,...,4.579750e+12,5.106680e+12,5.289490e+12,5.759070e+12,6.233150e+12,6.272360e+12,5.212330e+12,4.896990e+12,4.444930e+12,0.275997
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124.0,10.600470,...,3.092820e+12,2.931500e+12,2.417640e+12,2.491400e+12,2.666400e+12,2.706340e+12,2.786320e+12,3.065220e+12,2.934860e+12,0.183773
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214.0,17.288680,...,1.299710e+12,1.660850e+12,1.222640e+12,1.524920e+12,2.045930e+12,2.208300e+12,2.292470e+12,2.059240e+12,1.363480e+12,0.362517
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296.0,61.945430,...,1.468820e+12,1.552990e+12,1.374630e+12,1.617340e+12,1.793330e+12,1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,0.190369
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165.0,17.901530,...,3.425580e+12,3.745260e+12,3.411260e+12,3.399670e+12,3.749310e+12,3.527140e+12,3.733800e+12,3.889090e+12,3.357590e+12,0.195111
India,8,15005,14841,128763,37209,8.58,115,33195000000,26.0,14.969080,...,1.216740e+12,1.198900e+12,1.341890e+12,1.675620e+12,1.823050e+12,1.827640e+12,1.856720e+12,2.039130e+12,2.103590e+12,0.288973
France,9,13153,12973,130632,28601,9.93,114,10597000000,166.0,17.020280,...,2.660590e+12,2.930300e+12,2.700890e+12,2.645190e+12,2.865160e+12,2.683670e+12,2.811880e+12,2.855960e+12,2.439190e+12,0.218943
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221.0,2.279353,...,1.172610e+12,1.047340e+12,9.439420e+11,1.144070e+12,1.253220e+12,1.278430e+12,1.370800e+12,1.484320e+12,1.465770e+12,0.197035
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109.0,33.667230,...,2.213100e+12,2.408660e+12,2.199930e+12,2.136100e+12,2.294990e+12,2.086960e+12,2.141920e+12,2.162010e+12,1.836640e+12,0.238364
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106.0,37.968590,...,1.474000e+12,1.631860e+12,1.491470e+12,1.422110e+12,1.480710e+12,1.324750e+12,1.355580e+12,1.371820e+12,1.196160e+12,0.194299
Iran,13,8896,8819,57470,19125,6.46,72,9172000000,119.0,5.707721,...,3.498820e+11,4.123360e+11,4.163970e+11,4.868080e+11,6.261330e+11,6.440360e+11,4.927760e+11,4.603830e+11,4.082130e+11,0.332782
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231.0,11.810810,...,8.544270e+11,1.055640e+12,9.286270e+11,1.148610e+12,1.398410e+12,1.546890e+12,1.576380e+12,1.467550e+12,1.350620e+12,0.171939
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59.0,69.648030,...,1.397080e+12,1.695820e+12,1.667020e+12,2.208870e+12,2.616200e+12,2.465190e+12,2.472810e+12,2.455990e+12,1.802210e+12,0.237159

('China', 0.6893126179389422)

### Step 9
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This step should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [27]:
Median=Final['% Renewable'].median()
Renewable_median_lst = list()
for index,row in Final.iterrows():
    if int(row['% Renewable']) >= Median:
        Renewable_median_lst.append(1)
    else:
        Renewable_median_lst.append(0)
        
HighRenew=display((Final['% Renewable'].gt(Final['% Renewable'].median())).astype(int))

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: % Renewable, dtype: int32

### Step 10
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [42]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}



Final['Population']=Final['Energy Supply']/Final['Energy Supply per Capita']
Final['Continent']=pd.Series(ContinentDict)
Aggregated_df = Final.groupby('Continent')['Population'].agg(['size', 'sum','mean','std'])
Aggregated_df

               size               sum          mean           std
Continent
Asia              5   2898666386.6106  5.797333e+08  6.790979e+08
Australia         1   23316017.316017  2.331602e+07           NaN
Europe            6  457929667.216372  7.632161e+07  3.464767e+07
North America     2   352855249.48025  1.764276e+08  1.996696e+08
South America     1  205915254.237288  2.059153e+08           NaN